<div class="main-chat">
  <div class="main-header">
    <div class="left-header">
      <div class="chat-name">
        チャットネーム
      </div>
    </div>
    <div class="rigth-header">
      <div class="chat-fin">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
  <div class="chat-screen">
   <div class="messages">
    <div class="message-top">
      <div class="message-name">
       dan
      </div>
      <div class="message-date">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
      <div class="message-text">
      hello!!
      </div>
    <div class="message-top">
      <div class="message-name">
       dan
      </div>
      <div class="message-date">
      2020/3/31(Wed) 12:43:35
      </div>
    </div>
      <div class="message-text">
      ya!!
      </div>
   </div>
  </div>
  <div class="form">
    <div class="content-form">
      <div class="form-input">
        <input class="text-form" placeholder="type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
        <input class="form-submit" type="submit" value="送信" >
    </div>
  </div>
</div>