<div class="side-bar">
  <div class="side-header">
    <a href="#" class="user-name">Dan</a>
    <a href="#" class="create-room">チャットを制作する</a>
  </div>
  <div class="side-main">
    <div class="chat-rooms">
      <div class="chat-room">
        <a href ="#">textroom1</a>
      </div>
      <div class="chat-room">
        <a href ="#">textroom2</a>
      </div>
    </div>
  </div>
</div>